body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    background: linear-gradient(135deg, #333333, #1a1a1a);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.sidebar ul li a:hover {
    background: linear-gradient(135deg, #1a1a1a, #333333);
    color: #ff6f20;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    transform: translateY(-2px);
}

main {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

h2 {
    text-align: center;
    color: #333;
}

#ordenes {
    width: 1200px;
    margin: 20px auto;
    margin-left: 425px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

#reporte-mantenimiento {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 450px;
    align-items: center;
    width: 60%;
    height: auto;
}

#reporte-mantenimiento h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

#reporte-mantenimiento label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#reporte-mantenimiento input,
#reporte-mantenimiento select,
#reporte-mantenimiento textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#reporte-mantenimiento button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#reporte-mantenimiento button:hover {
    background-color: darkorange;
}

.open-modal {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 95%;
}

.open-modal:hover {
    background-color: darkorange;
}

.reporte-operador {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto 20px 700px;
    width: 50%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: darkorange;
}

.reporte-operador h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.reporte-operador input,
.reporte-operador select,
.reporte-operador textarea {
    width: 90%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.reporte-operador input:focus,
.reporte-operador select:focus,
.reporte-operador textarea:focus {
    border-color: darkorange;
    box-shadow: 0 0 5px #ff9100cb;
}

.reporte-operador textarea {
    width: 90%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: none;
}
